apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "magout.fullname" . }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: '{{ include "magout.fullname" . }}'
subjects:
- kind: ServiceAccount
  name: {{ include "magout.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
